<p>This section will contain some code challenges found online</p>
<p>I might also add simple concepts/definitions along with examples</p>
<p>
  Some of the challenges will be solved here using JS, others with Java using a
  service to call a spring boot backend somewhere
</p>

<div class="definitions">
  <h3>Hoisting</h3>
  <p>
    Hoisting is the concept of variable declaration(s) being moved "up" to avoid
    issues.
  </p>
  <div>
    <code>
      console.log(age); // undefined<br />
      var age;
    </code>
  </div>
  <p>
    What happens here, is that JS "hoists" variable declarations (using var) and
    sends them to the top of the scope in which they are declared in an attempt
    to avoid issues.
  </p>
</div>
