table {
    width: 100%;
    padding: 1rem;
    column-width: 2rem;
    align-items: center;
    justify-content: center;
}


button {
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 3rem; 
    border-radius: 5%;
    width: auto;
    height: max-content;
}

table input { 
    height: fit-content;
    align-items: center;
    justify-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px; 
}

.item-name {
    font-size: large;
    text-align: center;
    justify-content: left;

}

table tr { 
    background-color: lightblue; 
    align-items: center;
    justify-content: center;
}

body {
    display: inline;
    align-items: center;
    justify-content: center;
}

h1 {
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    margin-top: 2rem;
}

.mat-checkbox {
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}