<h1 style="align-items: center; align-content: center">
  Lista de regalos para la casita pequeña de Karola y Mario!
</h1>
<!--
    
<p class="one">HOVER OVER ME - IMG IS SIBLING</p>
<img src="http://www.placecage.com/100/100" />
<p
  class="two"
  (mouseenter)="show = !show"
  (mouseleave)="show = !show"
  (focus)="show = !show"
>
  HOVER OVER ME -IMG IS CHILD
  <img [hidden]="show" src="./src/resources/tapy.png" />
</p>-->
<div>
  <form>
    <table
      style="margin-left: 2rem; margin-right: 2rem"
      mat-table
      class="table table-striped table-bordered"
      id="table"
    >
      <tr style="background-color: orange; text-align: center">
        <th *ngFor="let name of displayedCols">{{ name }}</th>
      </tr>
      <tr
        *ngFor="let item of itemList"
        [style.background-color]="item.id % 2 == 0 ? '#ececec' : 'lightblue'"
      >
        <td style="width: 1rem">
          <mat-checkbox
            style="background: none"
            class="mat-checkbox"
            [disabled]="true"
            [checked]="!item.available"
          ></mat-checkbox>
        </td>
        <td style="width: 15%" class="item-name">
          <div style="background: none">
            <button
              class="tooltip-btn"
              (click)="imageVisible[item.id - 1] = !imageVisible[item.id - 1]"
            >
              <img
                [hidden]="false"
                style="width: 8rem; height: 9rem"
                [src]="imageList[item.id - 1].name"
                alt="img-not-loaded-yet"
              />
            </button>
          </div>
          {{ item.name }}
        </td>
        <td style="text-align: center">{{ item.amount }}</td>
        <td style="width: 25%">
          <input
            style="width: 35vw"
            [disabled]="!item.available"
            id="who-{{ item.id }}"
            class="form-control"
            [style.background-color]="item.id % 2 == 0 ? 'white' : 'white'"
            [placeholder]="
              !item.available ? '-- secreto --' : 'Quien se ofrece!?'
            "
          />
        </td>
        <td style="width: 25%">
          <input
            style="width: 35vw"
            id="note-{{ item.id }}"
            class="form-control"
            [style.background-color]="item.id % 2 == 0 ? 'white' : 'white'"
            [disabled]="!item.available"
            [placeholder]="
              !item.available
                ? 'gracias por su aportacion!!'
                : 'Mensaje a su anfitrion?'
            "
          />
        </td>
        <td style="background: none">
          <div style="background: none">
            <button
              class="btn btn-primary"
              type="button"
              id="btn-{{ item.id }}"
              [disabled]="!item.available"
              (click)="saveChange($event)"
            >
              Listo!
            </button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
