<h1>Lista de regalos para la casita pequeña de Karola y Mario!</h1>
<div>
  <form>
    <table mat-table class="table table-striped table-bordered" id="table">
      <tr style="background-color: orange; text-align: center;">
        <th>Apartado</th>
        <th>Producto</th>
        <th>Quien regala</th>
        <th>Nota extra</th>
        <th>Confirmar aportacion</th>
      </tr>
      <tr
        *ngFor="let item of itemList"
        [style.background-color]="item.id % 2 == 0 ? 'white' : 'lightblue'"
      >
        <td>
          <mat-checkbox
            class="mat-checkbox"
            [disabled]="true"
            [checked]="!item.available"
          ></mat-checkbox>
        </td>
        <td class="item-name">{{ item.name }}</td>
        <td>
          <input
            [disabled]="!item.available"
            id="who-{{ item.id }}"
            class="form-control"
            [style.background-color]="item.id % 2 == 0 ? 'white' : 'white'"
            [placeholder]="
              !item.available ? '-- secreto --' : 'Quien se ofrece!?'
            "
          />
        </td>
        <td>
          <input
            id="note-{{ item.id }}"
            class="form-control"
            [style.background-color]="item.id % 2 == 0 ? 'white' : 'white'"
            [disabled]="!item.available"
            [placeholder]="
              !item.available
                ? 'gracias por su aportacion!!'
                : 'Mensaje a su anfitrion?'
            "
          />
        </td>
        <button
          class="btn btn-primary"
          type="button"
          id="btn-{{ item.id }}"
          [disabled]="!item.available"
          (click)="saveChange($event)"
        >
          Confirmar!
        </button>
      </tr>
    </table>
  </form>
</div>
